<!--NATASHA: changes made Sept. 15. Original copy of pets-list.hbs saved in notebook and at bottom of page here-->
<h1>Welcome to our Pet's Page</h1>
<a href="/pets/create">Create a pet!</a>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Breed
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Hamsters</a></li>
                        <li><a class="dropdown-item" href="#">Guinea Pigs</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Rats</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

{{#each pets}}

{{!-- @index, @key, @first (first iteration of loop), @last--}}
    {{!--<img src="{{this.image_url}}"--}}

{{!--{{> pets-listPartials this}}---}}

{{!--Method above not working for now. Commented out for now--}}

{{!--<div class="row justify-content-around">
    <div class="col-4">
        One of two columns
    </div>
    <div class="col-4">
        One of two columns
    </div>
</div>--}}

<div class="container-md">
    {{!--apply styles to card to make this a little bit more thin--}}
    <div class="col">
        <div class="card">
            <img src="{{photoUrl}}" class="card-img-top" alt="{{this.name}} photo">
            <div class="card-body">
                <h5 class="card-title">Name: {{this.name}}</h5>
                <p class="card-text">Breed: {{this.breed}}</p>
                <a href="/pets/{{this._id}}">View More</a>
                <a href="/pets/{{this._id}}/edit"> Edit</a>
                <form action='/pets/{{this._id}}/delete' method='post'>
                    <button type='submit'>Delete</button>
                </form>
            </div>
        </div>
    </div>
    </div>

{{!--NATASHA: ORIGINAL CODE BEFORE SEPT. 15 BELOW HERE. Only change made is adding "Name:" etc. --}}
    {{!-- <div>
    <h3>Name: {{this.name}}</h3>
    <p>Breed: {{this.breed}}</p>
    <p>Age: {{this.age}}</p>
    <img src="{{this.photoUrl}}" alt="{{this.name}}"/>
    <p>Description: {{this.description}}</p>
    <p>Status: {{this.status}}</p>
    <a href="/pets/{{this._id}}">View More</a>
    <a href="/pets/{{this._id}}/edit">Edit</a>
    <form action='/pets/{{this._id}}/delete' method='post'>
        <button type='submit'>Delete</button>
    </form>
</div> --}}

{{/each}}

