<!--NATASHA: further changes made Sept. 19th. <br> and attempt to fix card format. Sept. 15 changes coded out original code below-->
<br>
<h1 class="pets-title">Welcome to our Pet's Page</h1>
{{#if isAdmin}}
  <a href="/pets/create">Create a pet!</a>
{{/if}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Search Pets</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Breed
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Hamsters</a></li>
            <li><a class="dropdown-item" href="#">Guinea Pigs</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Rats</a></li>
          </ul>
        </li>

      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

{{#each pets}}

  {{! @index, @key, @first (first iteration of loop), @last}}
  {{!--<img src="{{this.image_url}}"--}}

  {{!--{{> pets-listPartials this}}---}}

  {{!Method above not working for now. Commented out for now}}

  {{!<div class="row justify-content-around">
    <div class="col-4">
        One of two columns
    </div>
    <div class="col-4">
        One of two columns
    </div>
</div>}}

<div class="row">
  <div class="col-s-12 col-md-6 text-center">
    <div class="card result-card mt-3">
      <img src="{{this.photoUrl}}
        class="card-img-top backup mt-3" alt="{{this.name}} photo">
      <h5 class="card-title mt-3">Name: {{this.name}}</h5>
      <p class="card-text mt-3 pl-2 pr-2">Breed: {{this.breed}}</p>
      <form action="/pets/{{this._id}}" method="POST" name="viewMore"
        id="5e4e6bcf28f4a7001700432a">
        <button type="submit" name="viewMore" class="btn cta-bottom mt-3 mb-3" id="5e4e6bcf28f4a7001700432a">View More</button>
      </form>
      <!-- <a href="#" class="card-link">Add to favorites (soon)</a> -->
    </div>
  </div>
</div>

{{!-- NATASHA: BELOW IS THE CODE BEFORE SUNDAY SEPT. 19th CHANGES 
<br>
  <div class="container-md">
    {{!apply styles to card to make this a little bit more thin}}
    <div class="col">
      <div class="card">
        <img
          src="{{this.photoUrl}}"
          class="card-img-top"
          alt="{{this.name}} photo"
        />
        <div class="card-body">
          <h5 class="card-title">Name: {{this.name}}</h5>
          <p class="card-text">Breed: {{this.breed}}</p>
          <a href="/pets/{{this._id}}">View More</a>
          {{#if isAdmin}}
            <a href="/pets/{{this._id}}/edit"> Edit</a>
            <form action="/pets/{{this._id}}/delete" method="post">
              <button type="submit">Delete</button>
            </form>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <br>
  --}}

  {{!NATASHA: ORIGINAL CODE BEFORE SEPT. 15 BELOW HERE. Only change made is adding "Name:" etc. }}
  {{!-- <div>
    <h3>Name: {{this.name}}</h3>
    <p>Breed: {{this.breed}}</p>
    <p>Age: {{this.age}}</p>
    <img src="{{this.photoUrl}}" alt="{{this.name}}"/>
    <p>Description: {{this.description}}</p>
    <p>Status: {{this.status}}</p>
    <a href="/pets/{{this._id}}">View More</a>
    <a href="/pets/{{this._id}}/edit">Edit</a>
    <form action='/pets/{{this._id}}/delete' method='post'>
        <button type='submit'>Delete</button>
    </form>
</div> --}}

{{/each}}