<br>
<h1 class="pets-title">Welcome to our Pets Page</h1>
{{#if isAdmin}}
  <a class="create-link" href="/pets/create">Create a pet!</a>
{{/if}}

<div class="container2" style="display: block;" role="toolbar" aria-label="Toolbar with button groups">
  <div class="row d-flex justify-content-center">
          <div class="col-md-3">
            <div class="dropdown" role="group" aria-label="First group"> <button class="btn btn-secondary dropdown-toggle" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false"> Breed </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="/pets/All">All</a></li>
                <li><a class="dropdown-item" href="/pets/Guinea-Pig">Guinea Pig</a></li>
                <li><a class="dropdown-item" href="/pets/Hamster">Hamster</a></li>
                <li><a class="dropdown-item" href="/pets/Gerbil">Gerbil</a></li>
                <li><a class="dropdown-item" href="/pets/Rat">Rat</a></li>
                <li><a class="dropdown-item" href="/pets/Mouse">Mouse</a></li>

              </ul>
            </div>
          </div>
          <div class="col-md-3" role="group" aria-label="Second group"> <button class="btn btn-secondary btn-block">Search By Breed</button> </div>

  </div>
</div>

<div class="pet-container">


{{#each pets}}

  {{! @index, @key, @first (first iteration of loop), @last}}
  

<div class="row">
  <div class="col-s-12 col-md-6 text-center">
    <div class="card result-card mt-3" style="width: 400px;">
      <img src="{{this.photoUrl}}"
        class="card-img-top backup mt-3" alt="{{this.name}} photo">
      <h5 class="card-title mt-3">{{this.name}}</h5>
      <p class="card-text mt-3 pl-2 pr-2">Breed: {{this.breed}}</p>
      <form action="/pets/{{this._id}}" method="POST" name="viewMore"
        id="5e4e6bcf28f4a7001700432a">
        <button class="btn btn-info" type="submit" name="viewMore" class="btn cta-bottom mt-3 mb-3" id="5e4e6bcf28f4a7001700432a">View More</button>
      </form>
      <br>
    </div>
  </div>
</div>

{{/each}}
</div>