<h1>Host this Pet</h1>

<h3>Nearly there!</h3>

<p>Name: {{this.pet.name}}</p>
<p>Breed: {{this.pet.breed}}</p>
<p>Age: {{this.pet.age}}</p>
<p>Description: {{this.pet.description}}</p>
<p>Available: {{this.pet.available}}</p>

{{!--
<form action="/pets/{{pet.id}}/success" method="POST">
  <label for="confirm">I confirm I want to host this pet</label>
  <input type="text" name="confirm" />

  <button type="submit">Confirm</button>
</form>--}}

{{!-- ORIGINAL: "/pets/{{pet.id}}/success" then "/host/{{pet.id}}/host"--}}
<form action="/host/{{pet._id}}/success" method="POST">
  <label for="confirm">I confirm I want to host this pet:</label>
  <button type="submit">Confirm</button>
</form>